.work_card {
  width: 24rem;
  padding: 1rem 0;
  margin: 2rem 1rem 3rem;
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 4px #777;
}

.img_container {
  position: relative;
  width: 20rem;
  height: 13rem;
  background-color: #c4c4c4;
  transform: translate(-1rem, -3rem);
  box-shadow: 3px 3px 5px #777;
}

.card_content {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  top: 0;
}

.categ {
  color: #fac722;
  font-size: 1rem;
  font-weight: 400;
}

.br {
  width: 100%;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: #c1c1c1;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 4.5rem;
  padding: 0.2rem 0;
  font-size: 0.7rem;
  border: 2px solid #1686e2;
  border-radius: 10rem;
  color: #1686e2;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
}

.btn_visit {
  color: #fff;
  background-color: #1686e2;
}

.btn:nth-of-type(2) {
}

@media (max-width: 1023px) {
  .work_card {
    width: 17rem;
    flex-direction: column;
    align-items: center;
  }
  .img_container {
    width: 90%;
    transform: translate(-0, -3rem);
  }
  .card_content {
    top: -2rem;
    width: 80%;
  }
  .card_content h6 {
    margin: 0.5rem 0;
  }
  .btn_container {
    margin-top: 1rem;
  }
}
