.project {
  padding-top: 3rem;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.project header {
  width: 100%;
  height: 3rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  height: 100%;
}

.container_section {
  flex: 5;
  padding: 2rem;
  min-height: calc(100% - 3rem);
}

.container_section:last-of-type {
  flex: 3;
}

.images_container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 45rem;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  position: relative;
  top: 0;
}

.actual_container {
  width: 100%;
  max-width: 40rem;
  height: 70%;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.img_picker {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 12rem;
  overflow: hidden;
}

.img {
  width: 30%;
  max-height: 12rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.content h1 {
  margin-bottom: 1rem;
}

.content div {
  margin-bottom: 2rem;
}

.content h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.content p {
  font-size: 1.2rem;
}

.stack_container {
  display: flex;
  gap: 0.5rem;
}

.stack_text {
  background-color: #eaeaea;
  color: #444;
  padding: 0.3rem 1rem;
  border-radius: 0.1rem;
}

.btn {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background-color: #1686e2;
  border-radius: 10rem;
  position: relative;
  top: 1rem;
}

/*
/   IMAGE SHOWCASE MODAL
*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
}

.modal_img {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

.modal button {
  transform: scale(0.8);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 10;
  /*box-shadow: 0 0 5px #1686e2;*/
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 255, 255, 0.5);
}

.modal button:nth-last-of-type(3) {
  background-color: rgba(255, 0, 0, 0.842);
}
.modal button:nth-last-of-type(2) {
  top: 80%;
  left: 50%;
  transform: translate(50%, 0);
}
.modal button:nth-last-of-type(1) {
  top: 80%;
  left: 50%;
  transform: translate(-150%, 0);
}

@media (max-width: 768px) {
  .project {
    height: auto;
  }
  .container {
    flex-direction: column-reverse;
  }

  .images_container {
    height: 22rem;
  }

  .img_picker {
    height: 5rem;
  }

  .modal_img {
    width: 130vw;
    height: 70vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    left: -15vw;
  }
}
